<component name="libraryTable">
  <library name="Spring MVC-4.2.5.RELEASE" type="spring-mvc">
    <properties version="4.2.5.RELEASE" />
    <CLASSES>
      <root url="file://$PROJECT_DIR$/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/lib" recursive="false" />
  </library>
</component>